<% if task.completed_flag %>
  <li class='list-group-item task-item completed' id="task_<%= task.id %>">
    <%= link_to("Mark Incomplete",
      task_path(id: task.id, completed_flag: false),
      method: "patch",
      class: "btn btn-sm btn-danger" ) %>
<% else %>
  <li class='list-group-item task-item' id="task_<%= task.id %>">
    <%= link_to('Mark Complete',
      task_path(id: task.id, completed_flag: true),
      method: 'patch',
      :class => 'btn btn-sm btn-success')  %>
<% end %>
  <%= link_to("Delete",
      task_path(id: task.id),
      method: "delete",
      class: "btn btn-sm btn-warning",
      data: { confirm: "Are you sure?" }) %>
  <%= task.name %> <span class="due-date"><%= task.due_date %></span>
</li>
