<div id="task-index">
  <% if msg = flash[:error] %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
      </button>
      <strong><%= msg %></strong>
    </div>
  <% end %>

  <div id="highlight-due-today">Highlight Tasks Due Today</div>

  <ul class="list-group" id="tasks">
    <% @tasks.each do |task| %>
      <%= render partial: "tasks/show", locals: {task: task} %>
    <% end %>
  </ul>

  <div id="new-task-form">
    <%= form_tag("/tasks", method: "post", id: "submit-task") do %>
      <%= submit_tag("Add New Task", class: "btn btn-sm btn-primary") %>
      <%= text_field_tag(:name) %>
    <% end %>
  </div>
</div>
